{% extends 'base/index.html' %}
{% load static %}
{% load tags %}
{% groups as groups %}
{% block body %}
<!--begin::Card-->
<div class="card">
   <!--begin::Card header-->
   <div class="card-header border-0 pt-6">
      <!--begin::Card title-->
      <div class="card-title">
         <!--begin::Search-->
         <div class="d-flex align-items-center position-relative my-1">
            <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
            <span class="svg-icon svg-icon-1 position-absolute ms-6">
               <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                  <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
               </svg>
            </span>
            <!--end::Svg Icon-->
            <input type="text" data-kt-customer-table-filter="search" class="form-control form-control-solid w-250px ps-15" placeholder="Search Customers" />
         </div>
         <!--end::Search-->
      </div>
      <!--begin::Card title-->
      <!--begin::Card toolbar-->
      <div class="card-toolbar">
         <!--begin::Toolbar-->
         <div class="d-flex justify-content-end" data-kt-customer-table-toolbar="base">
            <!--begin::Filter-->
            <button type="button" class="btn btn-light-primary me-3" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
               <!--begin::Svg Icon | path: icons/duotune/general/gen031.svg-->
               <span class="svg-icon svg-icon-2">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <path d="M19.0759 3H4.72777C3.95892 3 3.47768 3.83148 3.86067 4.49814L8.56967 12.6949C9.17923 13.7559 9.5 14.9582 9.5 16.1819V19.5072C9.5 20.2189 10.2223 20.7028 10.8805 20.432L13.8805 19.1977C14.2553 19.0435 14.5 18.6783 14.5 18.273V13.8372C14.5 12.8089 14.8171 11.8056 15.408 10.964L19.8943 4.57465C20.3596 3.912 19.8856 3 19.0759 3Z" fill="currentColor" />
                  </svg>
               </span>
               <!--end::Svg Icon-->Filter
            </button>
            <!--begin::Menu 1-->
            <div class="menu menu-sub menu-sub-dropdown w-300px w-md-325px" data-kt-menu="true" id="kt-toolbar-filter">
               <!--begin::Header-->
               <div class="px-7 py-5">
                  <div class="fs-4 text-dark fw-bold">Filter Options</div>
               </div>
               <!--end::Header-->
               <!--begin::Separator-->
               <div class="separator border-gray-200"></div>
               <!--end::Separator-->
               <!--begin::Content-->
               <div class="px-7 py-5">
                  <!--begin::Input group-->
                  <div class="mb-10">
                     <!--begin::Label-->
                     <label class="form-label fs-5 fw-semibold mb-3">Groups:</label>
                     <!--end::Label-->
                     <!--begin::Input-->
                     <select class="form-select form-select-solid fw-bold" data-kt-select2="true" data-placeholder="Select option" data-allow-clear="true" data-kt-customer-table-filter="month" data-dropdown-parent="#kt-toolbar-filter">
                        <option></option>
                        {% for row in groups %}
                        <option value="{{ row.id }}">{{ row.name|upper }}</option>
                        {% endfor %}
                     </select>
                     <!--end::Input-->
                  </div>
                  <!--end::Input group-->
                  <!--begin::Actions-->
                  <div class="d-flex justify-content-end">
                     <button type="reset" class="btn btn-light btn-active-light-primary me-2" data-kt-menu-dismiss="true" data-kt-customer-table-filter="reset">Reset</button>
                     <button type="submit" class="btn btn-primary" data-kt-menu-dismiss="true" data-kt-customer-table-filter="filter">Apply</button>
                  </div>
                  <!--end::Actions-->
               </div>
               <!--end::Content-->
            </div>
            <!--end::Menu 1-->
            <!--end::Filter-->
            <!--begin::Add customer-->
            <button type="button" class="btn btn-primary me-3" data-bs-toggle="modal" data-bs-target="#addGroupModal">Add Group</button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCustomerModal">Add Customer</button>
            <!--end::Add customer-->
         </div>
         <!--end::Toolbar-->
         <!--begin::Group actions-->
         <div class="d-flex justify-content-end align-items-center d-none" data-kt-customer-table-toolbar="selected">
            <div class="fw-bold me-5">
               <span class="me-2" data-kt-customer-table-select="selected_count"></span>Selected
            </div>
            <button type="button" class="btn btn-danger" data-kt-customer-table-select="delete_selected">Delete Selected</button>
         </div>
         <!--end::Group actions-->
      </div>
      <!--end::Card toolbar-->
   </div>

   {% include 'backend/customers/partials/lists-table.html' %}
   <div class="modal fade" id="addCustomerModal" tabindex="-1" aria-hidden="true">
      <!--begin::Modal dialog-->
      <div class="modal-dialog modal-dialog-centered mw-650px">
         <!--begin::Modal content-->
         {% include 'backend/customers/partials/add-customer-modal-content.html' %}
      </div>
   </div>

   <div class="modal fade" id="addGroupModal" tabindex="-1" aria-hidden="true">
      <!--begin::Modal dialog-->
      <div class="modal-dialog modal-dialog-centered mw-650px">
         <!--begin::Modal content-->
         {% include 'backend/customers/partials/add-group-modal-content.html' %}
      </div>
   </div>

   <div class="modal fade" tabindex="-1" id="addOptionModal">
     <div class="modal-dialog modal-dialog-centered">
         <div class="modal-content">
             <div class="modal-header">
                 <h3 class="modal-title">Add Option</h3>

                 <!--begin::Close-->
                 <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                     <span class="svg-icon svg-icon-2x">...</span>
                 </div>
                 <!--end::Close-->
             </div>

             <div class="modal-body">
                 <form id="addOptionForm">
                     {% csrf_token %}
                     <div class="d-flex flex-column mb-7 fv-row">
                         <input type="hidden" name="field_option_name" required>
                         <input class="form-control form-control-solid" placeholder="New Option" name="option_name" type="text" required/>
                     </div>
             </div>

             <div class="modal-footer">
                 <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                 <button type="submit" class="btn btn-primary">Save changes</button>
             </div>
             </form>
         </div>
     </div>
   </div>
 <div class="modal fade" tabindex="-1" id="viewUpdatesModal">
     <div class="modal-dialog modal-xl modal-dialog-centered">
         <div class="modal-content" id="viewUpdatesModalContent">

         </div>
     </div>
 </div>
{% endblock %}
{% block script %}
<script src="{% static 'assets/plugins/custom/datatables/datatables.bundle.js' %}"></script>
<script src="{% static 'assets/js/custom/apps/customers/list/export.js' %}"></script>
<script src="{% static 'assets/js/custom/apps/customers/list/list.js' %}"></script>
<script src="{% static 'assets/js/custom/apps/customers/add.js' %}"></script>
<script src="{% static 'assets/js/widgets.bundle.js' %}"></script>
<script src="{% static 'assets/js/custom/widgets.js' %}"></script>
<script src="{% static 'assets/js/custom/apps/chat/chat.js' %}"></script>
<script src="{% static 'assets/js/custom/utilities/modals/upgrade-plan.js' %}"></script>
<script src="{% static 'assets/js/custom/utilities/modals/create-app.js' %}"></script>
<script src="{% static 'assets/js/custom/utilities/modals/users-search.js' %}"></script>
{% endblock %}